<!-- say hi to user here but make it depenedant on who has logged in -->
<h3> <%= thisUser.username %> </h3>
<h4> <%= thisUser.password %> </h4>
<h3> <%= thisUser.name %> </h3>
<h4> <%= thisUser.viewpoint %> </h4>

<h4>Posts by <%= thisUser.name %> </h4>
<% posts.forEach(function (post) { %>
<h5> <%= post.title %>: <%= post.votes %> </h5>
<p>
  <%= post.content %>
</p>
<% }) %>

<a href="/users/edit">[Edit]</a>

<div class="form-group">
  <form class="delete" action="?_method=DELETE" method="POST">
    <input class="form-control"
           type="submit"
           value="Delete">
  </form>
</div>
